<% content_for :breadcrumbs do %>
  <div class="text-sm breadcrumbs">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li>Settings</li>
    </ul>
  </div>
<% end %>



<div class="w-96 mx-auto">
  <h2 class="text-xl font-bold mb-4">
    <span class="border-b-8 border-accent">Settings</span>
  </h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, builder: DaisyBuilder) do |f| %>
    <div class="form-control">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="collapse bg-base-200 mt-4">

      <input type="checkbox" name="password_settings" />

      <div class="collapse-title">
        <div class="font-medium">Password settings</div>
        <span class="text-xs">(leave blank if you don't want to change it)</span>
      </div>

      <div class="collapse-content">
        <div class="form-control mt-2">
          <%= f.label :password, class: 'label pb-1' do %>
            <span class="label-text">New password</span>
            <% if @minimum_password_length %>
              <span class="label-text-alt">(<%= @minimum_password_length %> characters minimum)</span>
            <% end %>
          <% end %>

          <%= f.password_field :password, autocomplete: 'new-password' %>
          <%= f.label :password, class: 'label pb-1' do %>
            <span class="label-text-alt">(leave blank if you don't want to change it)</span>
          <% end %>
        </div>

        <div class="form-control mt-2">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: 'new-password' %>
        </div>
      </div>
    </div>


    <div class="form-control mt-2">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: 'current-password' %>
      <%= f.label class: 'label pb-1' do %>
        <%= content_tag(:span, '(we need your current password to confirm your changes)', class: 'label-text-alt') %>
      <% end %>
    </div>

    <div class="mt-4">
      <%= render 'devise/shared/error_messages', resource: resource %>
    </div>

    <div class="form-control mt-8">
      <%= f.submit 'Update' %>
    </div>
  <% end %>
</div>
