<div class="flex flex-column flex-col-reverse sm:flex-row sm:justify-between w-full sm:content-end">
  <div
    class="
      flex flex-row
      text-sm sm:text-base
      lg:text-lg mt-6 sm:mt-12 text-gray-900
      font-semibold tracking-tight pointer
      overflow-x-auto pb-2 sm:pb-3 -mx-2 sm:mx-0 px-2 sm:px-0"
  >
    <a href="<%= user_app_path %>" data-turbo="false" class="mr-3.5 sm:mr-5 whitespace-nowrap"> <%= t('.app') %> </a>
    <a href="<%= about_path %>" class="mr-3.5 sm:mr-5 whitespace-nowrap"> <%= t('.about') %> </a>
    <a href="<%= homepage_path %>" class="mr-3.5 sm:mr-5 whitespace-nowrap"> <%= t('.homepage') %> </a>
    <a href="<%= new_year_celebrations_path %>" class="mr-3.5 sm:mr-5 whitespace-nowrap"> New Year article </a>
  </div>
</div>
