<div class="navbar shadow-md bg-base-200 rounded-xl border-b-accent mt-2">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7"
          />
        </svg>
      </label>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-4 z-[1] p-2 shadow bg-base-200 rounded [&_li>*]:rounded w-52"
      >
        <li>
          <%= link_to 'Homepage', root_path, 'data-turbo' => 'false' %>
        </li>
        <li><%= link_to 'About', about_path, 'data-turbo' => 'false' %></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <%=
      link_to(
        'SUMMER',
        user_app_path,
        class:
          'normal-case font-silkscreen text-3xl border-b-4 tracking-tight border-accent-focus font-extrabold',
      )
    %>
  </div>
  <div class="navbar-end">
    <span class="text-sm mr-2"><%= current_user.name %></span>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <span
          class="w-10 h-10 flex rounded-full text-base-100 text-xl
          bg-gradient-to-r from-orange-600 to-orange-500
          justify-center items-center"
        >
          <%=
            if current_user.avatar_url.present?
              image_tag current_user.avatar_url, class: 'rounded-full', referrerpolicy: "no-referrer"
            else
              current_user.email[0].upcase
            end
          %>
        </span>
      </label>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mr-[-2px] mt-4 z-[1] shadow rounded bg-base-200 [&_li>*]:rounded w-52"
      >
        <li>
          <a class="justify-between">Profile<span class="badge">New</span></a>
        </li>
        <li>
          <%= link_to 'Projects', projects_path %>
        </li>
        <li>
          <%= link_to 'Settings', edit_user_registration_path %>
        </li>
        <li>
          <%#= link_to 'Logout', destroy_user_session_path, method: :delete %>
          <%= button_to 'Logout', destroy_user_session_path, method: :delete, form_class: 'trigger-submit-form' %>
        </li>
      </ul>
    </div>
  </div>
</div>
