<%= render Actions::ActionCardComponent.new(
    title: 'Summary',
    color: 'pink',
    description: 'Gives user a summary of the content on the page.',
    link: 'https://www.getsummer.ai/features#summary'
    ) do %>
  <input
    class="toggle toggle-summer toggle-lg"
    type="checkbox"
    value="1"
    checked="checked"
    disabled
  />
<% end %>

<%= render Actions::ActionCardComponent.new(
    title: 'Product Suggestions',
    color: 'blue',
    description: 'Offers your product when it is relevant to the context of the summary.',
    link: 'https://www.getsummer.ai/features#suggestions'
    ) do %>
  <%=
    form_with model: @project,
          url: project_action_path(@project, :feature_suggestion),
          method: :patch do |form|
      form.fields_for :settings do |settings_fields|
        settings_fields.fields_for :feature_suggestion do |feature_fields|
          concat feature_fields.check_box :enabled,
                                          class: 'toggle toggle-summer toggle-lg',
                                          onchange: 'this.form.requestSubmit()'
        end
      end
    end
  %>
<% end %>

<%=
  render Actions::ActionCardComponent.new(
    title: 'Subscription',
    color: 'green',
    description: 'Offers a weekly email subscription to your latest articles summaries.',
    link: 'https://www.getsummer.ai/features#subscription'
    ) do %>
  <%=
    form_with model: @project,
          url: project_action_path(@project, :feature_subscription),
          method: :patch  do |form|
      form.fields_for :settings do |settings_fields|
        settings_fields.fields_for :feature_subscription do |feature_fields|
          concat feature_fields.check_box :enabled,
                                          class: 'toggle toggle-summer toggle-lg',
                                          onchange: 'this.form.requestSubmit()'
        end
      end
    end
  %>
<% end %>

<%=
  render Actions::ActionCardComponent.new(
         title: 'Context',
         color: 'yellow',
         description: 'Provides extended context to selected fragment of the page.',
         link: 'https://www.getsummer.ai/features#context'
       ) do %>
  <div class="badge-summer badge-xl">Coming Soon</div>
<% end %>
