<div class="dropdown dropdown-bottom block">
  <div tabindex="0" role="button" class="p-1.5 hover:bg-gray-200 rounded-xl mb-1 flex justify-between">
    <%= @current_project.try(:name) || 'Add New Project' %>
    <img
      src="<%= vite_asset_path('assets/icons/selector.svg') %>"
      class="summer-icon mr-1"
      alt="Selector Icon"
    />
  </div>
  <ul tabindex="0" class="dropdown-content z-[1] p-2 shadow bg-white rounded-2xl w-52">
    <% @projects.each do |project| %>
      <li>
        <%=
          link_to project_url(project), class: 'p-1.5 pl-2 hover:bg-gray-200 rounded-xl flex justify-between' do %>
          <span class="align-middle"><%= project.name %></span>
          <% if @current_project.try(:id) == project.id %>
            <img
              src="<%= vite_asset_path('assets/icons/check.svg') %>"
              class="summer-icon mr-1"
              alt="Check Icon"
            />
          <% end %>
        <% end %>
      </li>
    <% end %>
    <li>
      <%= link_to new_project_url, class: 'p-1.5 pl-2 hover:bg-gray-200 transition-all rounded-xl block' do %>
        <img
          src="<%= vite_asset_path('assets/icons/plus.svg') %>"
          class="summer-icon mr-1"
          alt="Plus Icon"
        />
        <span class="align-middle">Add New Project</span>
      <% end %>
    </li>
  </ul>
</div>
