<% is_turbo = turbo_frame_request_id.present? %>
<%= turbo_conditional_tag "change-password-form", is_turbo do %>
  <%= form_for resource,
               as: resource_name,
               url: password_path(resource_name),
               html: { method: :post },
               data: { turbo: is_turbo },
               builder: DaisyBuilder do |f|
  %>
    <div class="form-control">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email' %>
    </div>
    <div class="form-control mt-6">
      <%= f.submit t('.reset_password'), class: 'btn btn-summer btn-neutral btn-block' %>
    </div>
  <% end %>

  <% unless is_turbo %>
    <div class="form-control">
      <%= render 'devise/shared/error_messages', resource: resource %>
    </div>
  <% end %>

  <% if is_turbo && (resource.errors.any? || flash[:alert] || flash[:notice]) %>
    <div class="mt-4 mb-2 text-center ">
      <% if flash[:alert] || flash[:notice] %>
        <%= render 'shared/alert', message: flash[:alert] || flash[:notice] %>
      <% end %>

      <% resource.errors.full_messages.each do |message| %>
        <div class="mt-2"><%= message %></div>
      <% end %>
    </div>
  <% end %>
<% end %>
