<% article = @project_page_decorated.article %>

<div>
  <%=link_to 'Back to pages', project_pages_path %>
</div>

<h2 class="font-semibold text-xl mt-4">
  <%=article.title %>
</h2>

<div class="mt-2">
  <%=link_to @project_page_decorated.url, @project_page_decorated.url, target: "_blank", class: "underline" %>
</div>

<h2 class="font-semibold text-xl mt-12">Summary</h2>


<div class="p-6 mt-6 shadow-sm border border-gray-200 rounded-2xl" id="<%= dom_id(@project_page_decorated, :summary) %>">
  <%= sanitize @project_page_decorated.summary_html %>
</div>

<div class="grid gap-4 grid-flow-row md:grid-flow-col grid-cols-1 md:grid-cols-3 mt-6">
  <%=
    render 'private/pages/metric_card',
           title: 'Pages',
           icon_src: vite_asset_path('assets/icons/pages.svg'),
           number: 1,
           comment:
             "pages this month"
  %>
  <%=
    render 'private/pages/metric_card',
           title: 'Button Showed',
           icon_src: vite_asset_path('assets/icons/eye.svg'),
           number: 2,
           comment:
             "new views this month"
  %>
  <%=
    render 'private/pages/metric_card',
           title: 'Button Clicked',
           icon_src: vite_asset_path('assets/icons/click.svg'),
           number: 3,
           comment:
             "new clicks this month"
  %>
</div>


<h2 class="font-semibold text-xl mt-12">Relevant products</h2>

<div>
  <div class="overflow-x-auto mt-6">
    <table class="table tracking-tight table-summer">
      <thead>
      <tr>
        <th class="font-semibold pl-0">Product</th>
        <th class="font-semibold w-24 text-right"></th>
      </tr>
      </thead>
      <tbody>
      <% article.project_article_products.includes(:product).each do |project_article_product|%>
        <%= render ProjectPageProductComponents::RowComponent.new(project_article_product:) do |component| %>
          <% component.with_form do %>
            <%=
              render ProjectPageProductComponents::SwitchButtonComponent.new(
                form_url: project_page_product_path(
                  current_project,
                  @project_page_decorated,
                  project_article_product
                ),
                project_article_product:,
              )
            %>
          <% end %>
        <% end %>
      <% end %>
      </tbody>
    </table>

    <%=
      link_to(
        '+ Add relevant product', new_project_page_product_path,
        class: 'btn btn-summer btn-black mt-4',
        data: {'turbo-frame': "modal"}
      )
    %>
  </div>
</div>
