<%= turbo_frame_tag "modal" do %>
  <%= render TurboModal::Component.new(
      title: '',
      go_back_path: @go_back_path,
      redirect_following: false,
      size: 'md'
  ) do %>
    <% title = @project_page_decorated.article_only_title.title.truncate(40) || 'Summary' %>
    <div class="text-right">
      <%=
        button_to 'Refresh summary',
                  summary_refresh_project_page_path(@current_project, @project_page_decorated),
                  method: :post,
                  class: 'btn btn-xs rounded'
      %>
    </div>
    <h3 class="text-lg font-semibold mt-2">
      <%= link_to title, @project_page_decorated.url, 'target' => '_blank' %>
    </h3>
    <div class="summary-html mt-2" id="<%= dom_id(@project_page_decorated, :summary) %>">
      <%= sanitize @project_page_decorated.summary_html %>
    </div>

    <% if Rails.configuration.summer[:IS_PLAYGROUND] %>
      <div class="bg-black text-white p-5 mt-14 rounded-xl opacity-15">
        These buttons are only visible in playground mode.
        <%=
          button_to 'DELETE SUMMARY',
                    summary_admin_delete_project_page_path(@current_project, @project_page_decorated),
                    method: :post,
                    class: 'btn btn-summer btn-red mt-4'
        %>
      </div>
    <% end %>
  <% end %>
<% end %>
