<tr id="<%= dom_id(@page) %>">
  <td class="pl-0">
    <a href="<%= @link %>" data-turbo-frame="_top">
      <span class="font-semibold block leading-none">
        <%=@page.article.title&.truncate(60) || @page.url.truncate(60) + " (without title)" %>
      </span>
      <span class="text-xs opacity-40 block mt-1.5 tracking-tighter">
        <%=@page.url.truncate(80) %>
      </span>
    </a>
  </td>
  <td class="text-right">
    <%=number_to_delimited(@page.statistics_by_months[0]&.views || 0) %>
  </td>
  <td class="text-right">
    <%=number_to_delimited(@page.statistics_by_months[0]&.clicks || 0) %>
  </td>
  <td class="text-right">
    <%= render ProjectPageComponents::SwitchButtonComponent.new(project: @project, page: @page, is_checkbox: true) %>
  </td>
</tr>
