<tr id="<%= dom_id(@page) %>">
  <td class="font-semibold pl-0">
    <%=
      link_to project_page_path(@project, @page), data: { turbo_frame: "_top" } do
        @page.article.title&.truncate(60) || @page.url.truncate(60) + " (without title)"
      end
    %>
  </td>
  <td class="text-right">
    <%=number_to_delimited(@page.statistics_by_months[0]&.views || 0) %>
  </td>
  <td class="text-right">
    <%=number_to_delimited(@page.statistics_by_months[0]&.clicks || 0) %>
  </td>
  <td class="text-right">
    <%= render ProjectPageComponents::SwitchButtonComponent.new(project: @project, page: @page, is_checkbox: true) %>
  </td>
</tr>
