<h2 class="font-semibold text-2xl">Billing information</h2>
<p class="opacity-50 mt-1">
  If you experience issues contact support via
  <a href="mailto:support@getsummer.ai" class="link">support@getsummer.ai</a>
</p>

<div class="mt-12">
  <div class="overflow-x-auto mt-6">
    <table class="table table-summer">
      <thead>
        <tr class="text-right">
          <th class="font-semibold text-left w-44">Project</th>
          <th class="font-semibold text-left w-28">Status</th>
          <th class="font-semibold text-left w-20">Plan</th>
          <th class="font-semibold text-left w-32">Views / Clicks</th>

          <th class="font-semibold text-right w-44">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <% decorated_project = project.decorate %>
          <tr>
            <td>
              <%=
              link_to project_settings_path(project), class: 'font-semibold' do %>
                <span class="align-middle"><%= project.name.truncate(19) %></span>
              <% end %>
            </td>
            <td><%=decorated_project.status.humanize %></td>
            <td><%=decorated_project.plan.humanize %></td>
            <td class="text-left"><%=decorated_project.total_views_count %> / <%=decorated_project.total_clicks_count %></td>

            <td class="text-right">
              <% unless project.free_plan? %>
                <%=render SubscriptionButton::Component.new(project:) %>
              <% else %>
                <%=
                  link_to project_settings_path(project), class: 'font-semibold btn btn-summer' do %>
                  Get subscription
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


