<% is_turbo = turbo_frame_request_id.present? %>
<%= turbo_conditional_tag "login-form", is_turbo do %>
  <div class="mt-6">
    <% if devise_mapping.omniauthable? %>
      <%= form_for "Login",
                   # url: user_google_oauth2_omniauth_authorize_path,
                   url: omniauth_authorize_path(resource_name, :google_oauth2),
                   method: :post,
                   data: { turbo: false } do |f| %>
        <%= f.button(type: 'submit', class: "btn btn-outline btn-input-summer btn-block") do %>
          <%= vite_image_tag "assets/icons/google.svg", class: 'inline-block w-4 h-4' %>
          <%= t('.sign_in_via_google') %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="divider my-6 text-sm text-gray-500"><%= t('.or') %></div>

  <%= form_for(resource, 
        as: resource_name,
        url: session_path(resource_name),
        data: {
          turbo: is_turbo ? 'true' : 'false',
          controller: 'auto-disable-form',
          'auto-disable-form-with-value': 'Signing in...'
        },
        builder: DaisyBuilder
      ) do |f| %>
    <div class="form-control">
      <%= f.label :email, t('.email') %>
      <%= f.email_field :email, required: true, autocomplete: 'email' %>
    </div>

    <div class="form-control mt-2">
      <%= f.label :password, t('.password') %>
      <%= f.password_field :password, autocomplete: 'current-password' %>
    </div>

    <% unless is_turbo %>
      <div class="mt-1.5 text-sm">
        <%= link_to t('.restore_password'),
                    new_password_path('user'),
                    class: 'link-summer' %>
      </div>
    <% end %>

    <% if is_turbo && (resource.errors.any? || flash[:alert]) %>
      <% if flash[:alert] %>
        <div class="mt-2 mb-2">
          <div class="text-sm absolute -mt-1">
            <%= flash[:alert] %>
          </div>
        </div>
      <% end %>

      <% resource.errors.full_messages.each do |message| %>
        <div class="text-xs absolute -mt-1">
          <%= message %>
        </div>
      <% end %>
    <% end %>

    <div class="form-control mt-7">
      <%= f.submit t('.sign_in'), class: 'btn btn-summer btn-black btn-block' %>
    </div>
  <% end %>


<% end %>
