<h3 class="font-semibold text-lg mt-10">
  <span>Domain Addresses</span>
  <span class="text-xs rounded-md border border-black bg-black text-white py-1 px-2 align-middle">
    <%=@current_project.domain %>
  </span>
  <%= render ProjectDomainAliasComponents::AddNewComponent.new(project: @current_project, dom_id: 'domain_alias') %>
</h3>

<p class="opacity-50 mt-1">
  Summer will appear on the pages under this domain(s). If you experience issues with the domain or
  want to change the root address contact support via <b>support@getsummer.ai</b>
</p>

<%= render Notice::Component.new(container_class: 'mt-6') do %>
  <div>
    <b>Important:</b>
    Summer will appear on every page under this domain. Make sure to use specific directory address,
    such as “domain.com/blog”, and not the main domain address only.
  </div>
<% end %>

<div>
  <div class="overflow-x-auto mt-6 -mx-4 px-4">
    <table class="table table-summer min-w-[500px]">
      <thead>
      <tr class="text-right">
        <th class="font-semibold text-left">URL Address</th>
        <th class="font-semibold w-24">Pages</th>
        <th class="font-semibold w-24">Shown</th>
        <th class="font-semibold w-24">Clicked</th>
      </tr>
      </thead>
      <tbody>
      <% @statistics.result.each do |statistic_view_model|%>
        <%= render ProjectPathComponents::RowComponent.new(statistic_view_model:) %>
      <% end %>
      </tbody>
    </table>
    <div class="my-3" id="add-new-project-path-btn">
      <%= render ProjectPathComponents::AddNewComponent.new(project: @current_project) %>
    </div>
  </div>
</div>
