<h2 class="font-semibold text-2xl">Settings</h2>

<hr class="my-12">

<h3 class="font-semibold text-lg mt-4">Billing Information</h3>

  <% if current_project.free_plan_active? %>
    <div class="mt-2">
      Your free plan
      (<span class="font-semibold"><%=ENV['FREE_PLAN_CLICKS_THRESHOLD']%></span> button clicks included) is active.
      <p class="mt-1">
      You have
        <span class="font-semibold"><%=current_project.decorate.free_plan_left_clicks %></span>
        clicks left.
      </p>
    </div>
  <% end %>

  <% if current_project.paid_plan?  %>
    <div class="mt-2">
      Your premium plan
      <% if current_project.stripe.subscription.cancel_at  %>
        expires on <%=  Time.at(current_project.stripe.subscription.cancel_at).strftime('%d %B %Y') %>.
      <% else %>
        is active. You have no limits.
      <% end %>
    </div>
  <% end %>

  <% if current_project.free_plan_suspended? %>
    <p class="mt-2">
      Your free plan has been suspended. <br>
      Please activate your paid plan to continue using Summer.
    </p>
  <% end %>


<%
  button_text = current_project.free_plan_suspended? ? 'Activate plan' : 'Subscription'
  button_text = current_project.stripe.subscription.cancel_at.present? ? 'Reactivate' : button_text
%>

<%= button_to button_text,
              project_payments_path(@current_project),
              method: :post,
              class: 'btn btn-summer btn-neutral mt-4',
              form: {
                'data-turbo': false
              } %>

<% if ENV.fetch('STRIPE_TEST_ENVIRONMENT', 'false') == 'true' %>
  <div class="bg-black text-white p-5 mt-10 rounded-xl">
    These buttons are only visible in the test environment.


    <% if current_project.stripe.subscription.id  %>
      <%= button_to 'DELETE SUBSCRIPTION',
                    admin_delete_subscription_project_payments_path(@current_project),
                    method: :post,
                    class: 'btn btn-summer btn-red mt-4',
                    form: {
                      'data-turbo': false
                    } %>
    <% end %>

    <% if !current_project.stripe.subscription.id && @current_project.status_active? %>
      <%= button_to 'SUSPEND PROJECT',
                    admin_suspend_project_project_payments_path(@current_project),
                    method: :post,
                    class: 'btn btn-summer mt-4',
                    form: {
                      'data-turbo': false
                    } %>
    <% end %>
  </div>
<% end %>


<hr class="my-12">


<h3 class="font-semibold text-lg mt-10">Domain Addresses</h3>
<p class="opacity-50 mt-1">
  Summer will appear on the pages under this domain(s).
  If you experience issues with the domain or want to change the root address contact support via support@getsummer.ai
</p>

<%= render Notice::Component.new(container_class: 'mt-6') do %>
  <div>
    <b>Important:</b>
    Summer will appear on every page under this domain.
    Make sure to use specific directory address, such as “domain.com/blog”,
    and not the main domain address only.
  </div>
<% end %>

<div>
  <div class="overflow-x-auto mt-6">
    <table class="table table-summer">
      <thead>
      <tr class="text-right">
        <th class="font-semibold text-left">URL Address</th>
        <th class="font-semibold w-24">Pages</th>
        <th class="font-semibold w-24">Shown</th>
        <th class="font-semibold w-24">Clicked</th>
      </tr>
      </thead>
      <tbody>
      <% @statistics.result.each do |statistic_view_model|%>
        <%= render ProjectPathComponents::RowComponent.new(statistic_view_model:) %>
      <% end %>
      </tbody>
    </table>
    <div class="my-3" id="add-new-project-path-btn">
      <%= render ProjectPathComponents::AddNewComponent.new(project: @current_project) %>
    </div>
  </div>
</div>

<hr class="my-12">


<h3 class="font-semibold text-lg">Delete Project</h3>
<p class="opacity-50 mt-1">
  You won’t be able to restore the data in case you delete this project.
</p>
<%= link_to 'Delete Project',
            project_path(@current_project),
            class: "btn btn-summer mt-9 w-36 btn-red",
            data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" }  %>
