<h2 class="font-semibold text-xl md:text-2xl">Settings</h2>
<p class="opacity-50 mt-1">
  Subscription / Domain addresses / Delete project sections <br />
  If you experience issues contact support via
  <a href="mailto:support@getsummer.ai?subject=Code installation issue" class="link"
    >support@getsummer.ai</a
  >
</p>
<hr class="my-12" />
<!--<h3 class="font-semibold text-lg mt-4">Subscription information</h3>-->

<div class="mt-4">
  <div class="text-lg">
    <b><%= current_project.plan.humanize %> plan</b>
    <% expire_at = current_project.decorate.subscription_expiration_time %>

    <% if current_project.status_active? %>

      <% if expire_at.present?  %>
        <%= expire_at > Time.now ? 'expires' : 'was expired' %> on
        <%= expire_at.strftime('%d %B %Y') %>.
      <% else %>
        is active.
      <% end %>

    <% else %>

      <% if expire_at.present?  %>
        was suspended on <%= expire_at.strftime('%d %B %Y') %>.
      <% else %>
        has been suspended.
      <% end %>

    <% end %>
  </div>
  <p class="mt-0.5 opacity-50">
    <%
      included_clicks_text =
        if current_project.subscription_id.nil?
          'unlimited'
        else
          number_with_delimiter(current_project.subscription.summarize_limit)
        end
    %>
    The <%= included_clicks_text %> button clicks
    <%= current_project.free_plan? ? 'in total' : 'per month' %>

    <%
      clicks_left_text =
        if current_project.decorate.plan_left_clicks == Float::INFINITY
          'unlimited'
        else
          number_with_delimiter(current_project.decorate.plan_left_clicks)
        end
    %>

    are included — <b><%= clicks_left_text %></b> clicks left.
  </p>
</div>

<div class="mt-8 md:mt-5">
  <%= render SubscriptionButton::Component.new(project: @current_project, button_classes: 'btn-black') %>
  <%if current_project.free_plan_suspended? %>
    <h4 class="mt-8 md:mt-2 opacity-50">
      Get a subscription to continue using the Summary button on your website.
    </h4>
  <% end %>
</div>

<% if Rails.configuration.summer[:IS_PLAYGROUND] %>
  <div class="bg-black text-white p-5 mt-14 rounded-xl opacity-15">
    These buttons are only visible in playground mode.

    <% if current_project.stripe.subscription.id  %>
      <%=
        button_to 'DELETE SUBSCRIPTION',
          admin_delete_subscription_project_payments_path(@current_project),
          method: :post,
          class: 'btn btn-summer btn-red mt-4',
          form: {
            'data-turbo': false,
          }
      %>
    <% end %>

    <% if !current_project.stripe.subscription.id && @current_project.status_active? %>
      <%=
        button_to 'SUSPEND PROJECT',
          admin_suspend_project_project_payments_path(@current_project),
          method: :post,
          class: 'btn btn-summer mt-4',
          form: {
            'data-turbo': false,
          }
      %>
    <% end %>
  </div>
<% end %>

<hr class="my-12" />

<h3 class="font-semibold text-lg mt-10">Domain Addresses</h3>
<p class="opacity-50 mt-1">
  Summer will appear on the pages under this domain(s). If you experience issues with the domain or
  want to change the root address contact support via support@getsummer.ai
</p>

<%= render Notice::Component.new(container_class: 'mt-6') do %>
  <div>
    <b>Important:</b>
    Summer will appear on every page under this domain. Make sure to use specific directory address,
    such as “domain.com/blog”, and not the main domain address only.
  </div>
<% end %>

<div>
  <div class="overflow-x-auto mt-6 -mx-4 px-4 md:mx-0 md:px-0">
    <table class="table table-summer min-w-[500px]">
      <thead>
        <tr class="text-right">
          <th class="font-semibold text-left">URL Address</th>
          <th class="font-semibold w-24">Pages</th>
          <th class="font-semibold w-24">Shown</th>
          <th class="font-semibold w-24">Clicked</th>
        </tr>
      </thead>
      <tbody>
        <% @statistics.result.each do |statistic_view_model|%>
          <%= render ProjectPathComponents::RowComponent.new(statistic_view_model:) %>
        <% end %>
      </tbody>
    </table>
    <div class="my-3" id="add-new-project-path-btn">
      <%= render ProjectPathComponents::AddNewComponent.new(project: @current_project) %>
    </div>
  </div>
</div>

<hr class="my-12" />

<details tabindex="0" class="collapse collapse-arrow bg-red-50 rounded-2xl">
  <summary class="collapse-title text-lg font-semibold">Delete Project Section</summary>
  <div class="collapse-content">
    <h3 class="font-semibold text-lg">Delete Project</h3>
    <p class="opacity-50 mt-1">
      You won’t be able to restore the data in case you delete this project.
    </p>
    <%=
      link_to 'Delete Project',
        project_path(@current_project),
        class: 'btn btn-summer mt-9 w-44 md:w-36 btn-red',
        data: {
          'turbo-method': :delete,
          turbo_confirm: 'Are you sure?',
        }
    %>
  </div>
</details>
