<tr id="project_path_statistic_<%= @statistic_view_model.project_path.id %>">
  <td class="font-semibold">
    <%=
      link_to edit_project_path_path(
                @statistic_view_model.project_path.project,
                @statistic_view_model.project_path
              ), data: {'turbo-frame': "modal"} do
        @statistic_view_model.project_path.url
      end
    %>
  </td>
  <td class="text-right">
    <%=number_to_delimited(@statistic_view_model.pages) %>
  </td>
  <td class="text-right">
    <%=number_to_delimited(@statistic_view_model.views) %>
  </td>
  <td class="text-right">
    <%=number_to_delimited(@statistic_view_model.clicks) %>
  </td>
</tr>
