<tr id="path_info_<%= @path_info.id %>">
  <td class="font-semibold pl-0">
    <%=
      link_to edit_project_path_path(@project, @path_info), data: {'turbo-frame': "modal"} do
        @path_info.url
      end
    %>
  </td>
  <td>
    <%=number_to_delimited(@path_info.pages || 0) %>
  </td>
  <td>
    <%=number_to_delimited(@path_info.views || 0) %>
  </td>
  <td>
    <%=number_to_delimited(@path_info.clicks || 0) %>
  </td>
</tr>
