<%= turbo_frame_tag "modal" do %>
  <%= render TurboModal::Component.new(
    title: t('.restore_password'),
    go_back_path: login_modals_path,
    redirect_following: false
  ) do %>
    <%= render 'devise/passwords/forgot_password_form' %>
    <div class="mt-5 text-center text-sm opacity-50">
      <div>
        <%=
          link_to t('.sign_in'),
                  login_modals_path,
                  rel: 'nofollow',
                  class: 'link link-hover',
                  data: {
                    'turbo-frame': 'modal',
                  }
        %>
      </div>
      <div class="mt-2">
        <%=
          link_to t('.sign_up'),
                  sign_up_modals_path,
                  rel: 'nofollow',
                  class: 'link link-hover',
                  data: {
                    'turbo-frame': 'modal',
                  }
        %>
      </div>
    </div>
  <% end %>
<% end %>
