<h2 class="font-semibold text-xl md:text-2xl">Emails</h2>

<%= render Admin::AdminToolbox::Component.new(current_user:, true_user:) %>

<div class="mt-12">
  <%=turbo_frame_tag 'emails', target: "_top", 'data-turbo-action': 'advance' do %>

    <%= form_with url: url_for({ page: @search_field.presence || nil }),
                  method: :get,
                  data: {
                    controller: 'auto-disable-form',
                    'auto-disable-form-with-value': 'Finding...',
                  } do |form| %>
      <%= form.text_field :search, value: @search_field, class: 'input input-summer w-[400px]' %>
      <%= form.submit 'Find', :name => nil, class: 'btn btn-summer btn-red' %>
    <% end %>

    <div class="overflow-x-auto mt-6 -mx-4 px-4">
      <table class="table tracking-tight table-summer min-w-[500px]">
        <thead>
        <tr>
          <th class="font-semibold">ID</th>
          <th class="font-semibold">Email</th>
        </tr>
        </thead>
        <tbody>
        <% @emails.each do |email|%>
          <tr>
            <td><%= link_to(email.id, admin_email_path(email)) %></td>
            <td></td>
            <td>
              <span class="opacity-50">to: <%= email.to %></span>
              <br>
              <b><%= email.subject %></b>
              <br>
              <small class="opacity-50">
                <%= email.sent_at %>
                <%=time_ago_in_words(email.sent_at) %>
              </small>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <% if @pagy.pages > 1 %>
      <div class="mt-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>
  <% end %>
</div>

