<h2 class="font-semibold text-xl md:text-2xl">Users</h2>

<%= render Admin::AdminToolbox::Component.new(current_user:, true_user:) %>

<div class="mt-12">
  <%=turbo_frame_tag 'users', target: "_top", 'data-turbo-action': 'advance' do %>

    <%= form_with url: url_for({ page: @search_field.presence || nil }),
                  method: :get,
                  data: {
                    controller: 'auto-disable-form',
                    'auto-disable-form-with-value': 'Finding...',
                  } do |form| %>
      <%= form.text_field :search, value: @search_field, class: 'input input-summer w-[400px]' %>
      <%= form.submit 'Find', :name => nil, class: 'btn btn-summer btn-red' %>
    <% end %>

    <div class="overflow-x-auto mt-6 -mx-4 px-4">
      <table class="table tracking-tight table-summer min-w-[500px]">
        <thead>
        <tr>
          <th class="font-semibold w-8">ID</th>
          <th class="font-semibold">Email</th>
          <th class="font-semibold">Project</th>
          <th class="font-semibold w-8">Project id</th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user|%>
          <%= render Admin::UserComponents::RowComponent.new(user:) %>
        <% end %>
        </tbody>
      </table>
    </div>
    <% if @pagy.pages > 1 %>
      <div class="mt-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>
  <% end %>
</div>

