<h2 class="font-semibold text-xl md:text-2xl">Knowledge</h2>
<p class="opacity-50 mt-1">
  Help Summer know your product better so it can offer products to customers, follow your
  communication guidelines and stay on-brand.
</p>

<hr class="my-12" />

<h3 class="font-semibold text-lg">Products</h3>
<p class="opacity-50 mt-1">
  Summer will suggest your products to your customers in the right context. Add products and they
  will appear in the summary window when the description matches the content.
</p>

<div>
  <div class="overflow-x-auto mt-6">
    <table class="table tracking-tight table-summer">
      <thead>
        <tr>
          <th class="font-semibold pl-0">Product</th>
          <th class="font-semibold w-24 text-right">Shown</th>
          <th class="font-semibold w-24 text-right">Clicked</th>
        </tr>
      </thead>
      <tbody id="<%= dom_id(ProjectProduct, :table) %>">
        <% @products.each do |product|%>
          <%= render ProjectProductComponents::RowComponent.new(product: ) %>
        <% end %>
      </tbody>
    </table>
    <div class="my-3" id="add-new-product-btn">
      <%= render ProjectProductComponents::AddNewComponent.new(project: @current_project) %>
    </div>
  </div>
</div>

<hr class="my-12" />

<h3 class="font-semibold text-lg">Guidelines</h3>
<p class="opacity-50 mt-1">
  Customize summarizations by setting guidelines for the AI to follow.
</p>
<div class="mt-4 relative">
  <%= form_for @project,
               url: guidelines_project_path(@project),
               html: {
                 method: :put,
                 'data-controller': "project-guidelines-form"
               },
               builder: DaisyBuilder do |f| %>
    <%
      placeholder = "This field is empty by default. " \
        "\nYou can add your own instructions to help Summer summarize your content better." \
        "\n\nFor example: Use “#{@project.name}” in the first sentence of the summary."
    %>
    <%= f.text_area :guidelines,
                    placeholder:,
                    rows: 4,
                    'data-project-guidelines-form-target': "input",
                    'data-action': "input->project-guidelines-form#change"
    %>
    <div class="text-right absolute right-0 text-sm opacity-50">
      <span data-project-guidelines-form-target="limit">0</span><span>/500</span>
    </div>
  <% end %>
</div>

