<h2 class="font-semibold text-2xl">Setup</h2>
<p class="opacity-50 mt-1">
  Here, you can find setup instructions. Change the button's appearance even after installing the code.
</p>


<div class="p-6 mt-6 shadow-md border border-gray-200 rounded-2xl">
  <h3 class="font-semibold text-lg">Setup checklist</h3>
  <ul class="mt-4 list-decimal list-inside">
    <li class="mt-2">Setup <a href="#appearance" class="link">the appearance</a>. Change it any time later. <span class="opacity-40">30 sec</span></li>
    <li class="mt-2"><a href="#code_snippet" class="link">Embed code</a> on your website. <span class="opacity-40">5 min</span></li>
    <li class="mt-2">
      Check the status in the <%= link_to 'Pages section', project_pages_path, class: 'link' %>
      after the first button loads. <span class="opacity-40">30 sec</span>
    </li>
    <li class="mt-2">Add custom instructions and your products to <%= link_to 'Knowledge', knowledge_project_path, class: 'link' %>. <span class="opacity-40">Optional</span></li>
  </ul>
</div>

<hr class="my-12">

<h2 id="appearance" class="font-semibold text-xl">Appearance</h2>
<p class="opacity-50 mt-1">
  The appearance change will apply automatically, you don’t need to reinstall or edit the code.
</p>

<div class="flex mt-8 shadow border border-light-gray rounded-xl">
  <div class="p-10 w-52">
    <%=
      form_for current_project,
      url: appearance_project_path(current_project),
      html: {
        method: :put,
        class: 'mt-2',
      } do |f| %>
      <%= f.fields_for :settings do |settings_fields| %>
        <%= settings_fields.fields_for :appearance do |appearance_form| %>
          <%
            base_radio = 'radio-appearance-summer'
            light_radio = "#{base_radio} #{base_radio}--light-grey"
            onchange = 'this.form.requestSubmit()'
          %>

          <div>
            <div class="mb-2 font-semibold">Button</div>
            <%= appearance_form.radio_button :button_theme, 'black', class: base_radio, onchange: onchange %>
            <%= appearance_form.radio_button :button_theme, 'white', class: light_radio, onchange: onchange %>
          </div>
          <div class="mt-6">
            <div class="mb-2 font-semibold">Frame</div>
            <%= appearance_form.radio_button :frame_theme, 'black', class: base_radio, onchange: onchange %>
            <%= appearance_form.radio_button :frame_theme, 'white', class: light_radio, onchange: onchange %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%=render Setup::AppearanceComponent.new(project_appearance_settings: current_project.settings.appearance) %>
</div>
<hr class="my-12">


<h2 id="code_snippet" class="font-semibold text-xl mt-10">Code Snippet</h2>
<p class="opacity-60 mt-1">
  Below is the Summer button code for this project. Copy and paste it in the code of every page of your website,
  somewhere after the <b><%='<head>' %></b> element. <b>Don’t add more than one Summer button to each page.</b>
  <br><br>
  Once you add the code to your website,
  the Summer button will appear automatically on pages with an article
  or some information that is possible to summarize.
</p>


<!-- Prism.js theme CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-twilight.min.css">
<!-- Prism.js JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>


<div class="bg-[#141414] mt-8 rounded-lg">

  <div class="p-4">
    <div class="flex items-center justify-between">
      <span class="text-gray-500">HTML</span>
      <button id="copyButton" class="px-5 active:bg-gray-200 font-semibold py-1 bg-white text-black rounded-lg">Copy Code</button>
    </div>
  </div>

  <div>
    <% src = "#{ENV['ASSETS_HOST']}/libs/init.umd.js" %>
    <% html_text = "<script type=\"module\" src=\"#{src}\" async></script>\n" %>
    <% tracker_id_js = "\n\twindow.GetSummer = window.GetSummer || { id: '#{current_project.uuid}' }\n" %>
    <% tracker_id_html = "<script type=\"text/javascript\">#{tracker_id_js}</script>" %>
    <pre class="language-html !border-0">
<code id="getsummer-snippet-code"><%= html_text %><%= tracker_id_html%></code>
    </pre>
  </div>
</div>

<script>
  document.getElementById('copyButton').addEventListener('click', function() {
    const textArea = document.createElement('textarea');
    textArea.value = document.getElementById('getsummer-snippet-code').textContent;
    document.body.appendChild(textArea);
    textArea.select();
    document.execCommand('copy');
    document.body.removeChild(textArea);
  });
</script>
<%= render Notice::Component.new(container_class: 'mt-6') do %>
  <div class="text-sm leading-4 mt-1">
    Have an issue or need help? Reach out to
    <a href="mailto:support@getsummer.ai?subject=Code installation issue" class="link">support@getsummer.ai</a>
  </div>
<% end %>
