<!DOCTYPE html>
<% html_class = content_for?(:html_class) ? yield(:html_class) : '' %>
<% body_class = content_for?(:body_class) ? yield(:body_class) : '' %>
<html class="<%= html_class.strip %>" data-theme="lofi">
  <head>
    <% if content_for?(:meta) %>
      <%= yield(:meta) %>
    <% else %>
      <title>Summer AI | App</title>
      <meta name="description" content="Transform your blog with AI summary button.">
    <% end %>
    <%= favicon_link_tag vite_asset_path('assets/images/favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'layouts/shared/google_tag_head' %>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <%= vite_stylesheet_tag 'global.scss' %>
    <%= vite_client_tag %>
    <% if content_for?(:js) %>
      <%= yield(:js) %>
    <% end %>
    <%= vite_client_tag %>
    <%= vite_typescript_tag 'application' %>
  </head>
  <body class="<%= body_class.strip %>">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
