<% content_for :js do %>
  <%#= vite_typescript_tag 'application' %>
<% end %>

<% content_for :html_class do %>
  bg-[#F8FBFE]
<% end %>
<% content_for :body_class do %>
  bg-default
<% end %>

<% content_for :content do %>
  <% current_project = current_project || current_user.default_project %>
  <div class="fixed flex flex-col justify-between top-0 bottom-0 l-0 p-5 w-[250px] min-w-[250px] bg-default overflow-y-auto">
    <div class="menu-header">
      <div class="logo-part p-1.5">
        <%= render LogoComponent.new %>
      </div>
      <div class="mt-5 w-[40px]">
        <hr class="border-black border-opacity-10">
      </div>
      <div class="mt-5">
        <%=render(ProjectSelector::Component.new(current_project: current_project, projects: project_list)) %>
      </div>
      <% if current_project.present? %>
        <%=render(ProjectMenuComponent.new(project: current_project)) %>
      <% end %>
    </div>
    <div class="menu-footer mt-10">
      <%=render(UserMenuComponent.new(user: current_user)) %>
    </div>
  </div>
  <div class="pl-[250px] min-h-screen flex flex-col">
    <% if current_project.status_suspended? %>
      <%= render SuspendedInfo::Component.new(project: current_project) %>
    <% end %>
    <div class="p-10 rounded-2xl bg-white grow min-w-[700px] z-10 overflow-hidden">
      <div class="container mx-auto max-w-[768px] pb-10">
        <% if content_for?(:breadcrumbs) %>
          <div class="mt-2"><%= yield(:breadcrumbs) %></div>
        <% end %>
        <div><%= yield %></div>
      </div>
    </div>
  </div>
  <%= render TurboModalContainer::Component.new %>
  <div id="flash" class="fixed bottom-5 right-5 w-100 z-10">
    <%= render 'layouts/shared/alerts' %>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
