<%= form_for @project_product,
             url: @project_product.new_record? ? project_products_path : project_product_path(@current_project, @project_product),
             builder: DaisyBuilder do |f| %>
  <div class="form-control">
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name, placeholder: 'Product or service name' %>
  </div>

  <div class="form-control mt-4">
    <%= f.label :link, 'Link' %>
    <%= f.text_field :link, placeholder: 'Link to page' %>
  </div>

  <div class="form-control mt-4">
    <%= f.label :description, 'Description' %>
    <%= f.text_area :description, placeholder: 'Product or service description', rows: 3 %>
  </div>

  <% if @project_product.errors.any? %>
    <div id="<%=dom_id(@project_product, :errors) %>" class="text-xs mt-1">
      <% @project_product.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="mt-2 opacity-50 text-sm leading-4">
    This description will help Summer to match the product with the context. It won’t be shown to the user.
  </div>

  <div class="form-control mt-8">
    <% if @project_product.persisted? %>
      <%=
        link_to 'Remove Product',
                project_product_path(@current_project, @project_product),
                class: 'btn btn-summer mb-2 btn-block btn-red',
                data: {
                  turbo_frame: '_top',
                  turbo_method: :delete,
                  turbo_confirm: 'Are you sure?',
                }
      %>
    <% end %>

    <%= f.submit @project_product.persisted? ? 'Save' : 'Add product', class: 'btn btn-summer btn-neutral btn-block' %>
  </div>
<% end %>

